*{
    text-decoration: none;
    color: white;
}

.header{
    background-image: linear-gradient(45deg, #db5931, salmon);
    text-decoration: none;
}

.menu{
    text-align: center;
}

.titulo{
    text-align: center;
    font-size: 25px;
    padding: 90px;
}

.botones{
    padding: 30px;
    padding-bottom:20px;
    margin: 20px;
    background: navy;
    border-radius: 12px;
    border-color: none;
}

.botones-close{
    padding: 30px;
    padding-bottom:20px;
    margin: 20px;
    background: navy;
    border-radius: 12px;
    border: none;
}
