*{
    color: navy;
}

.postCard{
    height: 300px;
    width: 200px;
    border-radius: 7px;
    box-shadow: 0 0 3px 0 salmon;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}


.postCard .separatorCard{
    height: 1px;
    width: 100%;
    background-color:navy;
    margin-bottom: 10px;
}

.postCard .conteentCard{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

span{
    font-weight: bold;
}

.botones{
    padding: 10px;
    padding-bottom:10px;
    margin-top: 200px;
    margin-left: 60px;
    width: 90px;
    height: 40px;
    margin-top: 130px;
    background: salmon;
    color: white;
    border-radius: 12px;
    border: none;
    font-size: 10px;
    align-items: center;
}