<div class='form-square'>
    <div class='form-square-background'>
        <form class='loginform' [formGroup]="loginForm">
            <div class='form-title'>
                <span>LOG IN</span>
            </div>
            <div class='group1'>
                <input type="text" placeholder="Enter your email" formControlName="email" required><span class='bar'></span>
                <label for=''>EMAIL</label>
            </div>
            <div class='group2'>
                <input type="password" placeholder="Enter your password" formControlName="password" required><span class='bar'></span>
                <label for=''>PASSWORD</label>
            </div>
            <button class='send-button' type='button' (click)='handleLogin()'>LOG IN</button>
        </form>
    </div>
</div>