.form-square{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.form-square .form-square-background{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 400px;
    padding: 20px;
    background-color:navy;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(225, 225, 225, 0.8);
}

.form-square .form-square-background .form-title{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 50px;
}

.form-square .form-square-background .send-button{
    height: 40px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 15px; 
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    background-color: salmon;
    border: 0px;
    
}

input{
    width: 300px;
    border-radius: 5px;                      
    font-size: 15px;            
    margin: 10px 10px 10px 5px; 
    padding: 10px 10px 10px 5px;
    display: block;             
    border: none;
}

label{
    font-size: 15px; 
    font-weight: bold;
    color: white;
}